<!--<ion-view view-title="Forgot Password" align-title="left">-->
<ion-view view-title="Forgot Password" >
    <ion-content 

        style="
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(img/login.jpg) center;
            background-size: cover; 
            filter: gray; 
            filter: grayscale(1);
            -webkit-filter: grayscale(0.1);">

          <!-- <ion-content  style="background:#B71C1C; ">-->
        <!--<div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>QuickPay</h1>
            </div>
        </div>-->
<ion-content ng-class="{expanded:$scope.isExpanded}" >
        <div class="hero slide-up " >
            <div class="content">
                <div class="avatar" style="background-image: url('img/logo.png');"></div>
                <p><a class="light">Password Reset</a></p>
                <small style="margin-top:-20px;">Please provide your email to get password.
                </small>
            </div>
        </div>

        <div class="col-75"style="background:#fff; margin: 5% auto; height:auto; border-radius:3px;">

           <div class="list col-80" style="margin:auto; ">
            {{user_requestpwd}}
            <label class="item item-input item-floating-label input-calm">     
                <span class="input-label">Email Address</span>
                <input type="text" ng-model="data.email" placeholder="Email Address">
            </label>
            
           </div>
        </div>

        <div class="list col-75" style="margin:auto; ">
            <button  class="button button-full button-assertive ink" ng-click="requestpwd()">Send Request</button>
            <a href="#app/login" style="color:#fff; text-decoration:none; float:left;">Back to Login</a>
            <!--<a href="#app/signup" style="color:#fff; text-decoration:none; float:right;">Sign Up</a>-->
        </div>
    </ion-content>
</ion-view>
