<style type="text/css">
    .pos {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/login.jpg) center;
        background-size: cover;
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(0.1);
    }

    .center-align {
        margin: auto;
    }

    .spinner svg {
        width: 70px;
        height: 70px;
        stroke: #F44336;
        fill: #a58110;
    }
</style>
<ion-view view-title="Technology Sources">
    <ion-content overflow-scroll="true">
        <div class="card-holder" ng-repeat="tech in technology|filter:{category:'technology'}">
    <ion-card >
      <ion-card-content>
        <span class="title">
          {{tech.name}}
        </span>
        <p class="description">
          {{tech.description}}
        </p>
        <p class="description">
          Link:{{tech.url}}
        </p>
      </ion-card-content>
    </ion-card>
    </div>
    </ion-content>
</ion-view>